.about-content {
    margin-top: 25px;
}

.cv-image {
    height: 170px;
    width: 170px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.about-info-title {
    text-align: right;
}

.about-info-data {
    text-align: left;
}

.about-title {
    text-align: center;
}